#anchorPanePg{

   -fx-background-color: linear-gradient(
           to left,
           repeat,
           #21a6ff 0%,
           #0B0B45 40%
         );

}
    #buttonGeneratePassword{
        -fx-border-color: white;
         /*-fx-background-color: lightgray;*/




    }

#closeButtonPG:hover {
   -fx-background-color: red;
}