#anchorPanePt{

    -fx-background-color: linear-gradient(
        to left,
        repeat,
        #21a6ff 0%,
        #0B0B45 40%
      );
}
#closeButtonPT:hover {
    -fx-background-color: red;
     -fx-background-radius: 15px;
}

 #BackButtonPT:hover {
        -fx-background-color: grey;
        -fx-background-radius: 15px;


        }

#buttonTestPassword{
     -fx-border-color: white;
     -fx-background-color: #0B0B45;
     }

     #buttonTestPassword:hover{
     -fx-background-color: grey;
    }

}
