#anchorPaneMenu{

    -fx-background-color: linear-gradient(
        to left,
        repeat,
        #21a6ff 0%,
        #0B0B45 40%
      );

}

#closeButtonMainMenu:hover {
    -fx-background-color: red;
     -fx-background-radius: 15px;
}


 #openPasswordGenerator{
            -fx-border-color: white;
            -fx-background-color: transparent;
            }

            #openPasswordGenerator:hover{
            -fx-background-color: grey;
           }

       #openPasswordTest{
            -fx-border-color: white;
            -fx-background-color: transparent;
            }

            #openPasswordTest:hover{
            -fx-background-color: grey;
           }